In [1]:
import pandas as pd

In [2]:
import numpy as np

In [464]:
df=pd.read_excel("okregi_sejm.xlsx", index_col=0)

In [465]:
df.head()

,Numer okręgu,Liczba mandatów,Liczba list,Liczba kandydatów,Mieszkańcy,Wyborcy,Opis granic
Siedziba OKW,,,,,,,
Legnica,1,12,6,142,927450,752171,część województwa dolnośląskiego obejmująca o...
Wałbrzych,2,8,6,94,616381,509179,część województwa dolnośląskiego obejmująca o...
Wrocław,3,14,6,167,1201333,993744,część województwa dolnośląskiego obejmująca o...
Bydgoszcz,4,12,6,137,962756,776937,część województwa kujawsko-pomorskiego obejmuj...
Toruń,5,13,6,147,1004212,806830,część województwa kujawsko-pomorskiego obejmuj...

In [466]:
df.reset_index(inplace=True)

In [467]:
def substring_after(s, delim):
    return s.partition(delim)[2]

def substring_before(s, delim):
    return s.partition(delim)[0]

In [468]:
def trim_powiat(s):
    s_t1=substring_after(s,":")
    s_t2=substring_after(s_t1,":")
    s_t1=substring_before(s_t1,"oraz")
    if  s_t2=="":
        return (s_t1)
    else:
        return (s_t1+","+s_t2)

In [469]:
s=df["Opis granic"][10]

In [470]:
s_t1=substring_after(s,":")

In [471]:
s_t2=substring_after(s_t1,":")

In [472]:
trim_powiat(s)

' kutnowski, łaski, łęczycki, łowicki, pabianicki, pajęczański, poddębicki, sieradzki, wieluński, wieruszowski, zduńskowolski, zgierski'

In [473]:
for words in trim_powiat(s).split():
    print(words)

kutnowski,
łaski,
łęczycki,
łowicki,
pabianicki,
pajęczański,
poddębicki,
sieradzki,
wieluński,
wieruszowski,
zduńskowolski,
zgierski

In [474]:
df["powiat_list"]=df["Opis granic"].apply(lambda x:trim_powiat(x))

In [475]:
df.powiat_list

0       bolesławiecki, głogowski, jaworski, jeleniog...
1       dzierżoniowski, kłodzki, świdnicki, wałbrzys...
2       górowski, milicki, oleśnicki, oławski, strze...
3      bydgoski, inowrocławski, mogileński, nakielsk...
4      aleksandrowski, brodnicki, chełmiński, golubs...
5      janowski, kraśnicki, lubartowski, lubelski, ł...
6      bialski, biłgorajski, chełmski, hrubieszowski...
7
8                    brzeziński, łódzki wschodni , Łódź
9      bełchatowski, opoczyński, piotrkowski, radoms...
10     kutnowski, łaski, łęczycki, łowicki, pabianic...
11     chrzanowski, myślenicki, oświęcimski, suski, ...
12              krakowski, miechowski, olkuski , Kraków
13     gorlicki, limanowski, nowosądecki, nowotarski...
14     bocheński, brzeski, dąbrowski, proszowicki, t...
15     ciechanowski, gostyniński, mławski, płocki, p...
16     białobrzeski, grójecki, kozienicki, lipski, p...
17     garwoliński, łosicki, makowski, miński, ostro...
18                                             Warszawa
19     grodziski, legionowski, nowodworski, otwocki,...
20
21     bieszczadzki, brzozowski, jarosławski, jasiel...
22     dębicki, kolbuszowski, leżajski, łańcucki, mi...
23
24     gdański, kwidzyński, malborski, nowodworski, ...
25     bytowski, chojnicki, człuchowski, kartuski, k...
26     bielski, cieszyński, pszczyński, żywiecki , B...
27     częstochowski, kłobucki, lubliniecki, myszkow...
28      gliwicki, tarnogórski  , Bytom, Gliwice, Zabrze
29     mikołowski, raciborski, rybnicki, wodzisławsk...
30     bieruńsko-lędziński , Chorzów, Katowice, Mysł...
31     będziński, zawierciański , Dąbrowa Górnicza, ...
32
33     bartoszycki, braniewski, działdowski, elbląsk...
34     ełcki, giżycki, gołdapski, kętrzyński, mrągow...
35     gostyński, jarociński, kaliski, kępiński, koś...
36     gnieźnieński, kolski, koniński, słupecki, śre...
37     chodzieski, czarnkowsko-trzcianecki, grodzisk...
38                                   poznański , Poznań
39     białogardzki, choszczeński, drawski, kołobrze...
40     goleniowski, gryficki, gryfiński, kamieński, ...
Name: powiat_list, dtype: object

In [476]:
df["powiat_list"]=np.where(df.powiat_list=="",df["Opis granic"], df.powiat_list)

In [477]:
df.powiat_list.head(50)

0       bolesławiecki, głogowski, jaworski, jeleniog...
1       dzierżoniowski, kłodzki, świdnicki, wałbrzys...
2       górowski, milicki, oleśnicki, oławski, strze...
3      bydgoski, inowrocławski, mogileński, nakielsk...
4      aleksandrowski, brodnicki, chełmiński, golubs...
5      janowski, kraśnicki, lubartowski, lubelski, ł...
6      bialski, biłgorajski, chełmski, hrubieszowski...
7                                  województwo lubuskie
8                    brzeziński, łódzki wschodni , Łódź
9      bełchatowski, opoczyński, piotrkowski, radoms...
10     kutnowski, łaski, łęczycki, łowicki, pabianic...
11     chrzanowski, myślenicki, oświęcimski, suski, ...
12              krakowski, miechowski, olkuski , Kraków
13     gorlicki, limanowski, nowosądecki, nowotarski...
14     bocheński, brzeski, dąbrowski, proszowicki, t...
15     ciechanowski, gostyniński, mławski, płocki, p...
16     białobrzeski, grójecki, kozienicki, lipski, p...
17     garwoliński, łosicki, makowski, miński, ostro...
18                                             Warszawa
19     grodziski, legionowski, nowodworski, otwocki,...
20                                 województwo opolskie
21     bieszczadzki, brzozowski, jarosławski, jasiel...
22     dębicki, kolbuszowski, leżajski, łańcucki, mi...
23                                województwo podlaskie
24     gdański, kwidzyński, malborski, nowodworski, ...
25     bytowski, chojnicki, człuchowski, kartuski, k...
26     bielski, cieszyński, pszczyński, żywiecki , B...
27     częstochowski, kłobucki, lubliniecki, myszkow...
28      gliwicki, tarnogórski  , Bytom, Gliwice, Zabrze
29     mikołowski, raciborski, rybnicki, wodzisławsk...
30     bieruńsko-lędziński , Chorzów, Katowice, Mysł...
31     będziński, zawierciański , Dąbrowa Górnicza, ...
32                           województwo świętokrzyskie
33     bartoszycki, braniewski, działdowski, elbląsk...
34     ełcki, giżycki, gołdapski, kętrzyński, mrągow...
35     gostyński, jarociński, kaliski, kępiński, koś...
36     gnieźnieński, kolski, koniński, słupecki, śre...
37     chodzieski, czarnkowsko-trzcianecki, grodzisk...
38                                   poznański , Poznań
39     białogardzki, choszczeński, drawski, kołobrze...
40     goleniowski, gryficki, gryfiński, kamieński, ...
Name: powiat_list, dtype: object

In [478]:
df_powiat=df["powiat_list"].str.split(', ', expand=True)

In [479]:
df_powiat.index

RangeIndex(start=0, stop=41, step=1)

In [480]:
df.columns

Index(['Siedziba OKW', 'Numer okręgu', 'Liczba mandatów', 'Liczba list',
       'Liczba kandydatów', 'Mieszkańcy', 'Wyborcy', 'Opis granic',
       'powiat_list'],
      dtype='object')

In [481]:
df_m=pd.merge(df['Numer okręgu'], df_powiat,left_index=True, right_index=True)

In [482]:
df_m.columns[1:]

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='object')

In [483]:
df_m_melt=pd.melt(df_m, id_vars=df_m.columns[0], value_vars=df_m.columns[1:])

In [484]:
df_m_melt.drop(["variable"], axis=1, inplace=True)

In [485]:
df_m_melt.value.unique().shape

(325,)

In [486]:
df_m.head(5)

,Numer okręgu,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,bolesławiecki,głogowski,jaworski,jeleniogórski,kamiennogórski,legnicki,lubański,lubiński,lwówecki,polkowicki,zgorzelecki,złotoryjski,Jelenia Góra,Legnica
1,2,dzierżoniowski,kłodzki,świdnicki,wałbrzyski,ząbkowicki,Wałbrzych,None,None,None,None,None,None,None,None
2,3,górowski,milicki,oleśnicki,oławski,strzeliński,średzki,trzebnicki,wołowski,wrocławski,Wrocław,None,None,None,None
3,4,bydgoski,inowrocławski,mogileński,nakielski,sępoleński,świecki,tucholski,żniński,Bydgoszcz,None,None,None,None,None
4,5,aleksandrowski,brodnicki,chełmiński,golubsko-dobrzyński,grudziądzki,lipnowski,radziejowski,rypiński,toruński,wąbrzeski,włocławski,Grudziądz,Toruń,Włocławek

In [487]:
df_m_melt=df_m_melt[df_m_melt.value.notnull()]

In [488]:
df_m_melt.value=df_m_melt.value.apply(lambda x: x.strip())

In [489]:
df_m_melt.to_excel("powiaty.xlsx")

In [490]:
df_m_melt.reset_index(inplace=True)

In [491]:
df["powiat_list"]=df["Opis granic"].apply(lambda x:trim_powiat(x))

In [499]:
df_m_melt["is_wojewodztwo"]=df_m_melt["value"].apply(lambda x: "województwo" in x)

In [500]:
df_m_melt[df_m_melt.is_wojewodztwo]

    index  Numer okręgu                       value  is_wojewodztwo
7       7             8        województwo lubuskie            True
20     20            21        województwo opolskie            True
23     23            24       województwo podlaskie            True
32     32            33  województwo świętokrzyskie            True

In [515]:
df_pow=df_m_melt[df_m_melt.is_wojewodztwo==False]

In [516]:
df_pow.rename(columns={"value":"powiat"}, inplace=True)

In [517]:
df_woj=df_m_melt[df_m_melt.is_wojewodztwo==True]

In [518]:
df_woj.rename(columns={"value":"woj"}, inplace=True)

In [519]:
df_woj["woj"]=df_woj["woj"].apply(lambda x: substring_after(x, "województwo "))

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [520]:
df_woj.head()

    index  Numer okręgu             woj  is_wojewodztwo
7       7             8        lubuskie            True
20     20            21        opolskie            True
23     23            24       podlaskie            True
32     32            33  świętokrzyskie            True

In [521]:
df_sejm=pd.read_excel("Wybory Sejm 2019 wyniki_gl_na_listy_po_powiatach.xlsx", index_col=0)

In [522]:
df_sejm.columns

Index(['Powiat', 'Województwo', 'Komisja otrzymała kart do głosowania',
       'Liczba wyborców uprawnionych do głosowania',
       'Nie wykorzystano kart do głosowania',
       'Liczba wyborców, którym wydano karty do głosowania',
       'Liczba wyborców głosujących przez pełnomocnika',
       'Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania',
       'Liczba wyborców, którym wysłano pakiety wyborcze',
       'Liczba otrzymanych kopert zwrotnych',
       'Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu',
       'Liczba kopert zwrotnych, w których oświadczenie nie było podpisane',
       'Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania',
       'Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania',
       'Liczba kopert na kartę do głosowania wrzuconych do urny',
       'Liczba kart wyjętych z urny',
       'W tym liczba kart wyjętych z kopert na kartę do głosowania',
       'Liczba kart nieważnych', 'Liczba kart ważnych',
       'Liczba głosów nieważnych',
       'W tym z powodu postawienia znaku „X” obok nazwiska dwóch lub większej liczby kandydatów z różnych list',
       'W tym z powodu niepostawienia znaku „X” obok nazwiska żadnego kandydata',
       'W tym z powodu postawienia znaku „X” wyłącznie obok nazwiska kandydata na liście, której rejestracja została unieważniona',
       'Liczba głosów ważnych oddanych łącznie na wszystkie listy kandydatów',
       'KOALICYJNY KOMITET WYBORCZY KOALICJA OBYWATELSKA PO .N IPL ZIELONI - ZPOW-601-6/19',
       'KOMITET WYBORCZY AKCJA ZAWIEDZIONYCH EMERYTÓW RENCISTÓW - ZPOW-601-21/19',
       'KOMITET WYBORCZY KONFEDERACJA WOLNOŚĆ I NIEPODLEGŁOŚĆ - ZPOW-601-5/19',
       'KOMITET WYBORCZY POLSKIE STRONNICTWO LUDOWE - ZPOW-601-19/19',
       'KOMITET WYBORCZY PRAWICA - ZPOW-601-20/19',
       'KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-601-9/19',
       'KOMITET WYBORCZY SKUTECZNI PIOTRA LIROYA-MARCA - ZPOW-601-17/19',
       'KOMITET WYBORCZY SOJUSZ LEWICY DEMOKRATYCZNEJ - ZPOW-601-1/19',
       'KOMITET WYBORCZY WYBORCÓW KOALICJA BEZPARTYJNI I SAMORZĄDOWCY - ZPOW-601-10/19',
       'KOMITET WYBORCZY WYBORCÓW MNIEJSZOŚĆ NIEMIECKA - ZPOW-601-15/19'],
      dtype='object')

In [523]:
df_s=df_sejm[['Powiat', 'Województwo','Liczba głosów ważnych oddanych łącznie na wszystkie listy kandydatów']]

In [524]:
df_s1=pd.merge(df_s, df_pow, how="left",left_on="Powiat",right_on="powiat")

In [525]:
df_s1.drop(columns=["index","is_wojewodztwo"], inplace=True)

In [526]:
df_s2=pd.merge(df_s1, df_woj, how="left",left_on='Województwo',right_on="woj")

In [536]:
df_s2["Numer okręgu"]=np.where(df_s2["Numer okręgu_x"].isnull()==False,df_s2["Numer okręgu_x"],df_s2["Numer okręgu_y"])

In [542]:
df_s2[df_s2.is_wojewodztwo==True]

,Powiat,Województwo,Liczba głosów ważnych oddanych łącznie na wszystkie listy kandydatów,Numer okręgu_x,powiat,index,Numer okręgu_y,woj,is_wojewodztwo,Numer okręgu
81,gorzowski,lubuskie,30489,NaN,NaN,7.0,8.0,lubuskie,True,8.0
82,krośnieński,lubuskie,22380,22.0,krośnieński,7.0,8.0,lubuskie,True,22.0
83,międzyrzecki,lubuskie,24959,NaN,NaN,7.0,8.0,lubuskie,True,8.0
84,nowosolski,lubuskie,36741,NaN,NaN,7.0,8.0,lubuskie,True,8.0
85,słubicki,lubuskie,19080,NaN,NaN,7.0,8.0,lubuskie,True,8.0
86,strzelecko-drezdenecki,lubuskie,19392,NaN,NaN,7.0,8.0,lubuskie,True,8.0
87,sulęciński,lubuskie,13782,NaN,NaN,7.0,8.0,lubuskie,True,8.0
88,świebodziński,lubuskie,23617,NaN,NaN,7.0,8.0,lubuskie,True,8.0
89,zielonogórski,lubuskie,32727,NaN,NaN,7.0,8.0,lubuskie,True,8.0
90,żagański,lubuskie,31739,NaN,NaN,7.0,8.0,lubuskie,True,8.0
91,żarski,lubuskie,39161,NaN,NaN,7.0,8.0,lubuskie,True,8.0
92,wschowski,lubuskie,15750,NaN,NaN,7.0,8.0,lubuskie,True,8.0
93,Gorzów Wielkopolski,lubuskie,56950,NaN,NaN,7.0,8.0,lubuskie,True,8.0
94,Zielona Góra,lubuskie,71150,NaN,NaN,7.0,8.0,lubuskie,True,8.0
189,brzeski,opolskie,38799,15.0,brzeski,20.0,21.0,opolskie,True,15.0
190,głubczycki,opolskie,18536,NaN,NaN,20.0,21.0,opolskie,True,21.0
191,kędzierzyńsko-kozielski,opolskie,37217,NaN,NaN,20.0,21.0,opolskie,True,21.0
192,kluczborski,opolskie,26243,NaN,NaN,20.0,21.0,opolskie,True,21.0
193,krapkowicki,opolskie,22650,NaN,NaN,20.0,21.0,opolskie,True,21.0
194,namysłowski,opolskie,18408,NaN,NaN,20.0,21.0,opolskie,True,21.0
195,nyski,opolskie,58036,NaN,NaN,20.0,21.0,opolskie,True,21.0
196,oleski,opolskie,25180,NaN,NaN,20.0,21.0,opolskie,True,21.0
197,opolski,opolskie,47379,6.0,opolski,20.0,21.0,opolskie,True,6.0
198,prudnicki,opolskie,21351,NaN,NaN,20.0,21.0,opolskie,True,21.0
199,strzelecki,opolskie,27630,NaN,NaN,20.0,21.0,opolskie,True,21.0
200,Opole,opolskie,65010,NaN,NaN,20.0,21.0,opolskie,True,21.0
226,augustowski,podlaskie,23701,NaN,NaN,23.0,24.0,podlaskie,True,24.0
227,białostocki,podlaskie,69482,NaN,NaN,23.0,24.0,podlaskie,True,24.0
228,bielski,podlaskie,23876,27.0,bielski,23.0,24.0,podlaskie,True,27.0
229,grajewski,podlaskie,18591,NaN,NaN,23.0,24.0,podlaskie,True,24.0
230,hajnowski,podlaskie,17623,NaN,NaN,23.0,24.0,podlaskie,True,24.0
231,kolneński,podlaskie,15167,NaN,NaN,23.0,24.0,podlaskie,True,24.0
232,łomżyński,podlaskie,21804,NaN,NaN,23.0,24.0,podlaskie,True,24.0
233,moniecki,podlaskie,15779,NaN,NaN,23.0,24.0,podlaskie,True,24.0
234,sejneński,podlaskie,7764,NaN,NaN,23.0,24.0,podlaskie,True,24.0
235,siemiatycki,podlaskie,17874,NaN,NaN,23.0,24.0,podlaskie,True,24.0
236,sokólski,podlaskie,27689,NaN,NaN,23.0,24.0,podlaskie,True,24.0
237,suwalski,podlaskie,14962,NaN,NaN,23.0,24.0,podlaskie,True,24.0
238,wysokomazowiecki,podlaskie,26486,NaN,NaN,23.0,24.0,podlaskie,True,24.0
239,zambrowski,podlaskie,19048,NaN,NaN,23.0,24.0,podlaskie,True,24.0
240,Białystok,podlaskie,143746,NaN,NaN,23.0,24.0,podlaskie,True,24.0
241,Łomża,podlaskie,27299,NaN,NaN,23.0,24.0,podlaskie,True,24.0
242,Suwałki,podlaskie,29687,NaN,NaN,23.0,24.0,podlaskie,True,24.0
300,buski,świętokrzyskie,33346,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
301,jędrzejowski,świętokrzyskie,38933,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
302,kazimierski,świętokrzyskie,13438,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
303,kielecki,świętokrzyskie,98305,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
304,konecki,świętokrzyskie,36387,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
305,opatowski,świętokrzyskie,22065,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
306,ostrowiecki,świętokrzyskie,46935,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
307,pińczowski,świętokrzyskie,17361,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
308,sandomierski,świętokrzyskie,33525,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
309,skarżyski,świętokrzyskie,34652,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
310,starachowicki,świętokrzyskie,41553,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
311,staszowski,świętokrzyskie,31955,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
312,włoszczowski,świętokrzyskie,21166,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0
313,Kielce,świętokrzyskie,100270,NaN,NaN,32.0,33.0,świętokrzyskie,True,33.0

In [562]:
name="wyniki_gl_na_kand_po_obwodach_sejm_xlsx\wyniki_gl_na_kand_po_obwodach_sejm_okr_"

for i in range(1,42):
    input_name=name+str(i)+".xlsx"
    if i ==1:
        df_combined=pd.read_excel(input_name, index_col=0).reset_index()
        df_combined=df_combined[["Kod TERYT","Okręg"]]
    else:
        df_load=pd.read_excel(input_name, index_col=0).reset_index()
        df_load=df_load[["Kod TERYT","Okręg"]]
        df_combined=pd.concat([df_combined, df_load])

In [570]:
df_TERYT_DICT_sejm=df_combined.groupby(["Kod TERYT", "Okręg"]).min().reset_index()

In [610]:
df_TERYT_DICT_sejm.head()

   Kod TERYT  Okręg
0      20101      1
1      20102      1
2      20103      1
3      20104      1
4      20105      1

In [585]:
file_sejm="wyniki_gl_na_listy_po_gminach_sejm.xlsx"
file_eu="Wybory Parlament EU 2019 wyniki_gl_na_listy_po_gminach.xlsx"

In [593]:
df_sejm=pd.read_excel(file_sejm)
df_sejm.head()

,Kod TERYT,Gmina,Powiat,Województwo,Komisja otrzymała kart do głosowania,Liczba wyborców uprawnionych do głosowania,Nie wykorzystano kart do głosowania,"Liczba wyborców, którym wydano karty do głosowania",Liczba wyborców głosujących przez pełnomocnika,Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania,...,KOALICYJNY KOMITET WYBORCZY KOALICJA OBYWATELSKA PO .N IPL ZIELONI - ZPOW-601-6/19,KOMITET WYBORCZY AKCJA ZAWIEDZIONYCH EMERYTÓW RENCISTÓW - ZPOW-601-21/19,KOMITET WYBORCZY KONFEDERACJA WOLNOŚĆ I NIEPODLEGŁOŚĆ - ZPOW-601-5/19,KOMITET WYBORCZY POLSKIE STRONNICTWO LUDOWE - ZPOW-601-19/19,KOMITET WYBORCZY PRAWICA - ZPOW-601-20/19,KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-601-9/19,KOMITET WYBORCZY SKUTECZNI PIOTRA LIROYA-MARCA - ZPOW-601-17/19,KOMITET WYBORCZY SOJUSZ LEWICY DEMOKRATYCZNEJ - ZPOW-601-1/19,KOMITET WYBORCZY WYBORCÓW KOALICJA BEZPARTYJNI I SAMORZĄDOWCY - ZPOW-601-10/19,KOMITET WYBORCZY WYBORCÓW MNIEJSZOŚĆ NIEMIECKA - ZPOW-601-15/19
0,20101,m. Bolesławiec,bolesławiecki,dolnośląskie,27857,29895,9656,18201,17,96,...,4308,NaN,1109,972,NaN,6445,NaN,3997,1158.0,NaN
1,20102,gm. Bolesławiec,bolesławiecki,dolnośląskie,10224,11171,3907,6317,0,29,...,1197,NaN,472,577,NaN,2716,NaN,930,331.0,NaN
2,20103,gm. Gromadka,bolesławiecki,dolnośląskie,4014,4306,1739,2274,1,8,...,287,NaN,117,154,NaN,1128,NaN,428,106.0,NaN
3,20104,gm. Nowogrodziec,bolesławiecki,dolnośląskie,10637,11683,4937,5700,1,24,...,878,NaN,432,537,NaN,2980,NaN,545,219.0,NaN
4,20105,gm. Osiecznica,bolesławiecki,dolnośląskie,4905,5392,2212,2693,0,36,...,509,NaN,183,216,NaN,1200,NaN,410,108.0,NaN

In [594]:
df_eu=pd.read_excel(file_eu)
df_eu= df_eu.add_prefix('eu_')
df_eu.head()

,eu_TERYT,eu_Jednostka terytorialna,eu_Komisja otrzymała kart do głosowania,eu_Liczba wyborców uprawnionych do głosowania,eu_w tym umieszczonych w części A spisu wyborców,eu_w tym umieszczonych w części B spisu wyborców,eu_Nie wykorzystano kart do głosowania,"eu_Liczba wyborców, którym wydano karty do głosowania",eu_w tym w części A spisu wyborców,eu_w tym w części B spisu wyborców,...,eu_KOALICYJNY KOMITET WYBORCZY KOALICJA EUROPEJSKA PO PSL SLD .N ZIELONI - ZPOW-603-7/19,"eu_KOALICYJNY KOMITET WYBORCZY LEWICA RAZEM - PARTIA RAZEM, UNIA PRACY, RSS - ZPOW-603-4/19",eu_KOALICYJNY KOMITET WYBORCZY POLEXIT - KOALICJA - ZPOW-603-14/19,eu_KOMITET WYBORCZY JEDNOŚĆ NARODU - ZPOW-603-11/19,eu_KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-603-5/19,eu_KOMITET WYBORCZY RUCH PRAWDZIWA EUROPA - EUROPA CHRISTI - ZPOW-603-9/19,eu_KOMITET WYBORCZY WIOSNA ROBERTA BIEDRONIA - ZPOW-603-8/19,eu_KOMITET WYBORCZY WYBORCÓW KONFEDERACJA KORWIN BRAUN LIROY NARODOWCY - ZPOW-603-3/19,eu_KOMITET WYBORCZY WYBORCÓW KUKIZ'15 - ZPOW-603-1/19,eu_KOMITET WYBORCZY WYBORCÓW POLSKA FAIR PLAY BEZPARTYJNI GWIAZDOWSKI - ZPOW-603-6/19
0,20101,m. Bolesławiec,23581,30273,30273,0,9948,13631,13631,0,...,6408,154,NaN,NaN,4875,NaN,892,725,494,NaN
1,20102,gm. Bolesławiec,8499,11166,11166,0,4102,4397,4397,0,...,1536,46,NaN,NaN,2060,NaN,237,271,216,NaN
2,20103,gm. Gromadka,3394,4376,4374,2,1782,1612,1611,1,...,454,17,NaN,NaN,881,NaN,76,91,61,NaN
3,20104,gm. Nowogrodziec,8772,11854,11854,0,4849,3923,3923,0,...,980,53,NaN,NaN,2236,NaN,197,225,171,NaN
4,20105,gm. Osiecznica,4000,5369,5369,0,2144,1856,1856,0,...,614,44,NaN,NaN,797,NaN,131,135,99,NaN

In [597]:
df_eu.shape

(2496, 38)

In [601]:
df_wybory=pd.merge(df_sejm, df_eu, left_on="Kod TERYT",right_on="eu_TERYT")

In [611]:
df_wybory["Kod TERYT"]=df_wybory["Kod TERYT"].apply(lambda x: int(x))

In [612]:
df_wybory.columns

Index(['Kod TERYT', 'Gmina', 'Powiat', 'Województwo',
       'Komisja otrzymała kart do głosowania',
       'Liczba wyborców uprawnionych do głosowania',
       'Nie wykorzystano kart do głosowania',
       'Liczba wyborców, którym wydano karty do głosowania',
       'Liczba wyborców głosujących przez pełnomocnika',
       'Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania',
       'Liczba wyborców, którym wysłano pakiety wyborcze',
       'Liczba otrzymanych kopert zwrotnych',
       'Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu',
       'Liczba kopert zwrotnych, w których oświadczenie nie było podpisane',
       'Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania',
       'Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania',
       'Liczba kopert na kartę do głosowania wrzuconych do urny',
       'Liczba kart wyjętych z urny',
       'W tym liczba kart wyjętych z kopert na kartę do głosowania',
       'Liczba kart nieważnych', 'Liczba kart ważnych',
       'Liczba głosów nieważnych',
       'W tym z powodu postawienia znaku „X” obok nazwiska dwóch lub większej liczby kandydatów z różnych list',
       'W tym z powodu niepostawienia znaku „X” obok nazwiska żadnego kandydata',
       'W tym z powodu postawienia znaku „X” wyłącznie obok nazwiska kandydata na liście, której rejestracja została unieważniona',
       'Liczba głosów ważnych oddanych łącznie na wszystkie listy kandydatów',
       'KOALICYJNY KOMITET WYBORCZY KOALICJA OBYWATELSKA PO .N IPL ZIELONI - ZPOW-601-6/19',
       'KOMITET WYBORCZY AKCJA ZAWIEDZIONYCH EMERYTÓW RENCISTÓW - ZPOW-601-21/19',
       'KOMITET WYBORCZY KONFEDERACJA WOLNOŚĆ I NIEPODLEGŁOŚĆ - ZPOW-601-5/19',
       'KOMITET WYBORCZY POLSKIE STRONNICTWO LUDOWE - ZPOW-601-19/19',
       'KOMITET WYBORCZY PRAWICA - ZPOW-601-20/19',
       'KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-601-9/19',
       'KOMITET WYBORCZY SKUTECZNI PIOTRA LIROYA-MARCA - ZPOW-601-17/19',
       'KOMITET WYBORCZY SOJUSZ LEWICY DEMOKRATYCZNEJ - ZPOW-601-1/19',
       'KOMITET WYBORCZY WYBORCÓW KOALICJA BEZPARTYJNI I SAMORZĄDOWCY - ZPOW-601-10/19',
       'KOMITET WYBORCZY WYBORCÓW MNIEJSZOŚĆ NIEMIECKA - ZPOW-601-15/19',
       'eu_Liczba wyborców uprawnionych do głosowania',
       'eu_w tym umieszczonych w części A spisu wyborców',
       'eu_w tym umieszczonych w części B spisu wyborców',
       'eu_Nie wykorzystano kart do głosowania',
       'eu_Liczba wyborców, którym wydano karty do głosowania',
       'eu_w tym w części A spisu wyborców',
       'eu_w tym w części B spisu wyborców',
       'eu_Liczba wyborców głosujących przez pełnomocnika',
       'eu_Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania',
       'eu_Liczba wyborców, którym wysłano pakiety wyborcze',
       'eu_Liczba otrzymanych kopert zwrotnych',
       'eu_Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu',
       'eu_Liczba kopert zwrotnych, w których oświadczenie nie było podpisane',
       'eu_Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania',
       'eu_Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania',
       'eu_Liczba kopert na kartę do głosowania wrzuconych do urny',
       'eu_Liczba kart wyjętych z urny',
       'eu_w tym liczba kart wyjętych z kopert na kartę do głosowania',
       'eu_Liczba kart nieważnych', 'eu_Liczba kart ważnych',
       'eu_Liczba głosów nieważnych',
       'eu_w tym z powodu postawienia znaku „X” obok nazwiska dwóch lub większej liczby kandydatów',
       'eu_w tym z powodu niepostawienia znaku „X” obok nazwiska żadnego kandydata',
       'eu_w tym z powodu postawienia znaku „X” wyłącznie obok skreślonego nazwiska kandydata',
       'eu_Liczba głosów ważnych oddanych łącznie na wszystkie listy kandydatów',
       'eu_KOALICYJNY KOMITET WYBORCZY KOALICJA EUROPEJSKA PO PSL SLD .N ZIELONI - ZPOW-603-7/19',
       'eu_KOALICYJNY KOMITET WYBORCZY LEWICA RAZEM - PARTIA RAZEM, UNIA PRACY, RSS - ZPOW-603-4/19',
       'eu_KOALICYJNY KOMITET WYBORCZY POLEXIT - KOALICJA - ZPOW-603-14/19',
       'eu_KOMITET WYBORCZY JEDNOŚĆ NARODU - ZPOW-603-11/19',
       'eu_KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-603-5/19',
       'eu_KOMITET WYBORCZY RUCH PRAWDZIWA EUROPA - EUROPA CHRISTI - ZPOW-603-9/19',
       'eu_KOMITET WYBORCZY WIOSNA ROBERTA BIEDRONIA - ZPOW-603-8/19',
       'eu_KOMITET WYBORCZY WYBORCÓW KONFEDERACJA KORWIN BRAUN LIROY NARODOWCY - ZPOW-603-3/19',
       'eu_KOMITET WYBORCZY WYBORCÓW KUKIZ'15 - ZPOW-603-1/19',
       'eu_KOMITET WYBORCZY WYBORCÓW POLSKA FAIR PLAY BEZPARTYJNI GWIAZDOWSKI - ZPOW-603-6/19'],
      dtype='object')

In [613]:
df_wybory.drop(columns=['eu_TERYT', 'eu_Jednostka terytorialna',
       'eu_Komisja otrzymała kart do głosowania',], inplace=True)

KeyError: "['eu_TERYT' 'eu_Jednostka terytorialna'\n 'eu_Komisja otrzymała kart do głosowania'] not found in axis"

In [614]:
df_wybory.head()

,Kod TERYT,Gmina,Powiat,Województwo,Komisja otrzymała kart do głosowania,Liczba wyborców uprawnionych do głosowania,Nie wykorzystano kart do głosowania,"Liczba wyborców, którym wydano karty do głosowania",Liczba wyborców głosujących przez pełnomocnika,Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania,...,eu_KOALICYJNY KOMITET WYBORCZY KOALICJA EUROPEJSKA PO PSL SLD .N ZIELONI - ZPOW-603-7/19,"eu_KOALICYJNY KOMITET WYBORCZY LEWICA RAZEM - PARTIA RAZEM, UNIA PRACY, RSS - ZPOW-603-4/19",eu_KOALICYJNY KOMITET WYBORCZY POLEXIT - KOALICJA - ZPOW-603-14/19,eu_KOMITET WYBORCZY JEDNOŚĆ NARODU - ZPOW-603-11/19,eu_KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-603-5/19,eu_KOMITET WYBORCZY RUCH PRAWDZIWA EUROPA - EUROPA CHRISTI - ZPOW-603-9/19,eu_KOMITET WYBORCZY WIOSNA ROBERTA BIEDRONIA - ZPOW-603-8/19,eu_KOMITET WYBORCZY WYBORCÓW KONFEDERACJA KORWIN BRAUN LIROY NARODOWCY - ZPOW-603-3/19,eu_KOMITET WYBORCZY WYBORCÓW KUKIZ'15 - ZPOW-603-1/19,eu_KOMITET WYBORCZY WYBORCÓW POLSKA FAIR PLAY BEZPARTYJNI GWIAZDOWSKI - ZPOW-603-6/19
0,20101,m. Bolesławiec,bolesławiecki,dolnośląskie,27857,29895,9656,18201,17,96,...,6408,154,NaN,NaN,4875,NaN,892,725,494,NaN
1,20102,gm. Bolesławiec,bolesławiecki,dolnośląskie,10224,11171,3907,6317,0,29,...,1536,46,NaN,NaN,2060,NaN,237,271,216,NaN
2,20103,gm. Gromadka,bolesławiecki,dolnośląskie,4014,4306,1739,2274,1,8,...,454,17,NaN,NaN,881,NaN,76,91,61,NaN
3,20104,gm. Nowogrodziec,bolesławiecki,dolnośląskie,10637,11683,4937,5700,1,24,...,980,53,NaN,NaN,2236,NaN,197,225,171,NaN
4,20105,gm. Osiecznica,bolesławiecki,dolnośląskie,4905,5392,2212,2693,0,36,...,614,44,NaN,NaN,797,NaN,131,135,99,NaN

In [615]:
df_wybory=pd.merge(df_TERYT_DICT_sejm, df_wybory, left_on="Kod TERYT", right_on="Kod TERYT")

In [640]:
df_wybory["TERYT_Powiat"]=df_wybory["Kod TERYT"].apply(lambda x: str(x)[:-2])

In [650]:
df_wybory.head()

,Kod TERYT,Okręg,Gmina,Powiat,Województwo,Komisja otrzymała kart do głosowania,Liczba wyborców uprawnionych do głosowania,Nie wykorzystano kart do głosowania,"Liczba wyborców, którym wydano karty do głosowania",Liczba wyborców głosujących przez pełnomocnika,...,"eu_KOALICYJNY KOMITET WYBORCZY LEWICA RAZEM - PARTIA RAZEM, UNIA PRACY, RSS - ZPOW-603-4/19",eu_KOALICYJNY KOMITET WYBORCZY POLEXIT - KOALICJA - ZPOW-603-14/19,eu_KOMITET WYBORCZY JEDNOŚĆ NARODU - ZPOW-603-11/19,eu_KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-603-5/19,eu_KOMITET WYBORCZY RUCH PRAWDZIWA EUROPA - EUROPA CHRISTI - ZPOW-603-9/19,eu_KOMITET WYBORCZY WIOSNA ROBERTA BIEDRONIA - ZPOW-603-8/19,eu_KOMITET WYBORCZY WYBORCÓW KONFEDERACJA KORWIN BRAUN LIROY NARODOWCY - ZPOW-603-3/19,eu_KOMITET WYBORCZY WYBORCÓW KUKIZ'15 - ZPOW-603-1/19,eu_KOMITET WYBORCZY WYBORCÓW POLSKA FAIR PLAY BEZPARTYJNI GWIAZDOWSKI - ZPOW-603-6/19,TERYT_Powiat
0,20101,1,m. Bolesławiec,bolesławiecki,dolnośląskie,27857,29895,9656,18201,17,...,154,NaN,NaN,4875,NaN,892,725,494,NaN,201
1,20102,1,gm. Bolesławiec,bolesławiecki,dolnośląskie,10224,11171,3907,6317,0,...,46,NaN,NaN,2060,NaN,237,271,216,NaN,201
2,20103,1,gm. Gromadka,bolesławiecki,dolnośląskie,4014,4306,1739,2274,1,...,17,NaN,NaN,881,NaN,76,91,61,NaN,201
3,20104,1,gm. Nowogrodziec,bolesławiecki,dolnośląskie,10637,11683,4937,5700,1,...,53,NaN,NaN,2236,NaN,197,225,171,NaN,201
4,20105,1,gm. Osiecznica,bolesławiecki,dolnośląskie,4905,5392,2212,2693,0,...,44,NaN,NaN,797,NaN,131,135,99,NaN,201

In [658]:
df_wybory_powiat=df_wybory.groupby(["TERYT_Powiat", "Okręg", "Powiat", "Województwo"]).sum()
df_wybory_powiat.drop(columns=["Kod TERYT"], inplace=True)

In [659]:
df_wybory_powiat.head()

,,,,Komisja otrzymała kart do głosowania,Liczba wyborców uprawnionych do głosowania,Nie wykorzystano kart do głosowania,"Liczba wyborców, którym wydano karty do głosowania",Liczba wyborców głosujących przez pełnomocnika,Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania,"Liczba wyborców, którym wysłano pakiety wyborcze",Liczba otrzymanych kopert zwrotnych,"Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu","Liczba kopert zwrotnych, w których oświadczenie nie było podpisane",...,eu_KOALICYJNY KOMITET WYBORCZY KOALICJA EUROPEJSKA PO PSL SLD .N ZIELONI - ZPOW-603-7/19,"eu_KOALICYJNY KOMITET WYBORCZY LEWICA RAZEM - PARTIA RAZEM, UNIA PRACY, RSS - ZPOW-603-4/19",eu_KOALICYJNY KOMITET WYBORCZY POLEXIT - KOALICJA - ZPOW-603-14/19,eu_KOMITET WYBORCZY JEDNOŚĆ NARODU - ZPOW-603-11/19,eu_KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-603-5/19,eu_KOMITET WYBORCZY RUCH PRAWDZIWA EUROPA - EUROPA CHRISTI - ZPOW-603-9/19,eu_KOMITET WYBORCZY WIOSNA ROBERTA BIEDRONIA - ZPOW-603-8/19,eu_KOMITET WYBORCZY WYBORCÓW KONFEDERACJA KORWIN BRAUN LIROY NARODOWCY - ZPOW-603-3/19,eu_KOMITET WYBORCZY WYBORCÓW KUKIZ'15 - ZPOW-603-1/19,eu_KOMITET WYBORCZY WYBORCÓW POLSKA FAIR PLAY BEZPARTYJNI GWIAZDOWSKI - ZPOW-603-6/19
TERYT_Powiat,Okręg,Powiat,Województwo,,,,,,,,,,,,,,,,,,,,,
1001,10,bełchatowski,łódzkie,82322,88570,25741,56579,43,200,2,2,0,0,...,9141,774,0.0,0.0,24673,0.0,1620,2709,1581,0.0
1002,11,kutnowski,łódzkie,72402,78510,28173,44229,66,169,7,7,0,0,...,10699,629,0.0,0.0,16799,0.0,1621,1133,1110,0.0
1003,11,łaski,łódzkie,36673,40459,11930,24743,26,137,2,2,0,0,...,5554,316,0.0,0.0,9490,0.0,997,739,627,0.0
1004,11,łęczycki,łódzkie,38370,41482,15693,22677,22,69,0,0,0,0,...,4409,332,0.0,0.0,9267,0.0,622,575,500,0.0
1005,11,łowicki,łódzkie,58163,63591,20150,38013,13,169,1,1,0,0,...,7958,411,0.0,0.0,15763,0.0,983,1068,1311,0.0

In [656]:
df_wybory_powiat.shape

(381, 67)

In [660]:
df_wybory_powiat.to_excel("wybory_wyniki_okregi.xlsx")

In [52]:
df_wybory=pd.read_excel("wybory_wyniki_okregi.xlsx")

In [53]:
df_wybory.columns

Index(['TERYT_Powiat', 'Okręg', 'Powiat', 'Województwo',
       'Komisja otrzymała kart do głosowania',
       'Liczba wyborców uprawnionych do głosowania',
       'Nie wykorzystano kart do głosowania',
       'Liczba wyborców, którym wydano karty do głosowania',
       'Liczba wyborców głosujących przez pełnomocnika',
       'Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania',
       'Liczba wyborców, którym wysłano pakiety wyborcze',
       'Liczba otrzymanych kopert zwrotnych',
       'Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu',
       'Liczba kopert zwrotnych, w których oświadczenie nie było podpisane',
       'Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania',
       'Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania',
       'Liczba kopert na kartę do głosowania wrzuconych do urny',
       'Liczba kart wyjętych z urny',
       'W tym liczba kart wyjętych z kopert na kartę do głosowania',
       'Liczba kart nieważnych', 'Liczba kart ważnych',
       'Liczba głosów nieważnych',
       'W tym z powodu postawienia znaku „X” obok nazwiska dwóch lub większej liczby kandydatów z różnych list',
       'W tym z powodu niepostawienia znaku „X” obok nazwiska żadnego kandydata',
       'W tym z powodu postawienia znaku „X” wyłącznie obok nazwiska kandydata na liście, której rejestracja została unieważniona',
       'Liczba głosów ważnych oddanych łącznie na wszystkie listy kandydatów',
       'KOALICYJNY KOMITET WYBORCZY KOALICJA OBYWATELSKA PO .N IPL ZIELONI - ZPOW-601-6/19',
       'KOMITET WYBORCZY AKCJA ZAWIEDZIONYCH EMERYTÓW RENCISTÓW - ZPOW-601-21/19',
       'KOMITET WYBORCZY KONFEDERACJA WOLNOŚĆ I NIEPODLEGŁOŚĆ - ZPOW-601-5/19',
       'KOMITET WYBORCZY POLSKIE STRONNICTWO LUDOWE - ZPOW-601-19/19',
       'KOMITET WYBORCZY PRAWICA - ZPOW-601-20/19',
       'KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-601-9/19',
       'KOMITET WYBORCZY SKUTECZNI PIOTRA LIROYA-MARCA - ZPOW-601-17/19',
       'KOMITET WYBORCZY SOJUSZ LEWICY DEMOKRATYCZNEJ - ZPOW-601-1/19',
       'KOMITET WYBORCZY WYBORCÓW KOALICJA BEZPARTYJNI I SAMORZĄDOWCY - ZPOW-601-10/19',
       'KOMITET WYBORCZY WYBORCÓW MNIEJSZOŚĆ NIEMIECKA - ZPOW-601-15/19',
       'eu_Liczba wyborców uprawnionych do głosowania',
       'eu_w tym umieszczonych w części A spisu wyborców',
       'eu_w tym umieszczonych w części B spisu wyborców',
       'eu_Nie wykorzystano kart do głosowania',
       'eu_Liczba wyborców, którym wydano karty do głosowania',
       'eu_w tym w części A spisu wyborców',
       'eu_w tym w części B spisu wyborców',
       'eu_Liczba wyborców głosujących przez pełnomocnika',
       'eu_Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania',
       'eu_Liczba wyborców, którym wysłano pakiety wyborcze',
       'eu_Liczba otrzymanych kopert zwrotnych',
       'eu_Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu',
       'eu_Liczba kopert zwrotnych, w których oświadczenie nie było podpisane',
       'eu_Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania',
       'eu_Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania',
       'eu_Liczba kopert na kartę do głosowania wrzuconych do urny',
       'eu_Liczba kart wyjętych z urny',
       'eu_w tym liczba kart wyjętych z kopert na kartę do głosowania',
       'eu_Liczba kart nieważnych', 'eu_Liczba kart ważnych',
       'eu_Liczba głosów nieważnych',
       'eu_w tym z powodu postawienia znaku „X” obok nazwiska dwóch lub większej liczby kandydatów',
       'eu_w tym z powodu niepostawienia znaku „X” obok nazwiska żadnego kandydata',
       'eu_w tym z powodu postawienia znaku „X” wyłącznie obok skreślonego nazwiska kandydata',
       'eu_Liczba głosów ważnych oddanych łącznie na wszystkie listy kandydatów',
       'eu_KOALICYJNY KOMITET WYBORCZY KOALICJA EUROPEJSKA PO PSL SLD .N ZIELONI - ZPOW-603-7/19',
       'eu_KOALICYJNY KOMITET WYBORCZY LEWICA RAZEM - PARTIA RAZEM, UNIA PRACY, RSS - ZPOW-603-4/19',
       'eu_KOALICYJNY KOMITET WYBORCZY POLEXIT - KOALICJA - ZPOW-603-14/19',
       'eu_KOMITET WYBORCZY JEDNOŚĆ NARODU - ZPOW-603-11/19',
       'eu_KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-603-5/19',
       'eu_KOMITET WYBORCZY RUCH PRAWDZIWA EUROPA - EUROPA CHRISTI - ZPOW-603-9/19',
       'eu_KOMITET WYBORCZY WIOSNA ROBERTA BIEDRONIA - ZPOW-603-8/19',
       'eu_KOMITET WYBORCZY WYBORCÓW KONFEDERACJA KORWIN BRAUN LIROY NARODOWCY - ZPOW-603-3/19',
       'eu_KOMITET WYBORCZY WYBORCÓW KUKIZ'15 - ZPOW-603-1/19',
       'eu_KOMITET WYBORCZY WYBORCÓW POLSKA FAIR PLAY BEZPARTYJNI GWIAZDOWSKI - ZPOW-603-6/19'],
      dtype='object')

In [54]:
sejm_list=['TERYT_Powiat', 'Okręg', 'Powiat', 'Województwo',
       'Liczba głosów ważnych oddanych łącznie na wszystkie listy kandydatów',
       'KOALICYJNY KOMITET WYBORCZY KOALICJA OBYWATELSKA PO .N IPL ZIELONI - ZPOW-601-6/19',
       'KOMITET WYBORCZY KONFEDERACJA WOLNOŚĆ I NIEPODLEGŁOŚĆ - ZPOW-601-5/19',
       'KOMITET WYBORCZY POLSKIE STRONNICTWO LUDOWE - ZPOW-601-19/19',
       'KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-601-9/19',
       'KOMITET WYBORCZY SOJUSZ LEWICY DEMOKRATYCZNEJ - ZPOW-601-1/19',
       'KOMITET WYBORCZY WYBORCÓW MNIEJSZOŚĆ NIEMIECKA - ZPOW-601-15/19']

In [55]:
sejm_dict={
      'Liczba głosów ważnych oddanych łącznie na wszystkie listy kandydatów':"Głosy ważne",    'KOALICYJNY KOMITET WYBORCZY KOALICJA OBYWATELSKA PO .N IPL ZIELONI - ZPOW-601-6/19':"KO", 
           'KOMITET WYBORCZY KONFEDERACJA WOLNOŚĆ I NIEPODLEGŁOŚĆ - ZPOW-601-5/19':"KONFEDERACJA",
           'KOMITET WYBORCZY POLSKIE STRONNICTWO LUDOWE - ZPOW-601-19/19':"PSL",
           'KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-601-9/19':"PiS",
            'KOMITET WYBORCZY SOJUSZ LEWICY DEMOKRATYCZNEJ - ZPOW-601-1/19':"SLD",
            'KOMITET WYBORCZY WYBORCÓW MNIEJSZOŚĆ NIEMIECKA - ZPOW-601-15/19':"MN"
          }

In [56]:
df_pl=df_wybory[sejm_list]

In [57]:
df_pl.rename(columns=sejm_dict, inplace=True)

In [58]:
df_o=df_pl.groupby("Okręg").sum()

In [59]:
okreg_map=pd.read_excel("Okreg-mandat-map.xlsx")

In [60]:
okreg_map

    Okreg  Mandaty
0       1       12
1       2        8
2       3       14
3       4       12
4       5       13
5       6       15
6       7       12
7       8       12
8       9       10
9      10        9
10     11       12
11     12        8
12     13       14
13     14       10
14     15        9
15     16       10
16     17        9
17     18       12
18     19       20
19     20       12
20     21       12
21     22       11
22     23       15
23     24       14
24     25       12
25     26       14
26     27        9
27     28        7
28     29        9
29     30        9
30     31       12
31     32        9
32     33       16
33     34        8
34     35       10
35     36       12
36     37        9
37     38        9
38     39       10
39     40        8
40     41       12

In [61]:
df_o=pd.merge(df_o, okreg_map, left_on="Okręg", right_on="Okreg")

In [62]:
df_o.drop(columns=["Okreg","TERYT_Powiat"], inplace=True)

In [63]:
df_o.reset_index(inplace=True)

In [64]:
df_o.rename(columns={"index":"Okreg"}, inplace=True)

In [65]:
df_o

,Okreg,Głosy ważne,KO,KONFEDERACJA,PSL,PiS,SLD,MN,Mandaty
0,0,432436,108191,25319,31006,183364,71061,0,12
1,1,283002,90812,15346,20528,114728,34957,0,8
2,2,654455,214629,48775,42269,226915,100843,0,14
3,3,459982,142844,32406,41497,167550,69763,0,12
4,4,452330,119526,28625,49225,182648,67076,0,13
5,5,565597,109185,40012,51474,313284,44152,0,15
6,6,401318,59401,23439,47604,238802,27404,0,12
7,7,437917,136955,31490,50943,150188,68341,0,12
8,8,415540,148830,27627,18828,136731,83524,0,10
9,9,346326,54160,23427,36151,194658,37930,0,9
10,10,460239,94268,27054,47373,229245,55116,0,12
11,11,316214,72869,22334,24996,169106,26909,0,8
12,12,649287,197930,51855,47219,256847,84457,0,14
13,13,370199,51183,25747,27203,243583,22483,0,10
14,14,347088,48597,24695,46333,206845,20618,0,9
15,15,370561,62429,19405,56227,194371,32448,0,10
16,16,335009,57449,19724,34185,193709,24884,0,9
17,17,452906,63124,29390,54085,270641,29235,0,12
18,18,1381744,581000,103820,65669,379842,251413,0,20
19,19,598727,171286,39675,51484,244823,78348,0,12
20,20,406439,108570,23176,41901,152999,47699,32094,12
21,21,390581,62246,26615,30655,247488,23577,0,11
22,22,588786,84703,48600,45868,367268,38817,0,15
23,23,520578,109527,36207,48566,270888,47342,0,14
24,24,528829,218484,38153,31203,169753,71236,0,12
25,25,580722,208208,42364,46132,211582,72436,0,14
26,26,389256,105876,28900,27752,182027,44701,0,9
27,27,284517,64374,17278,24704,125990,44354,0,7
28,28,340647,111078,26114,20408,128579,45583,0,9
29,29,333836,92493,23939,18816,161160,32300,0,9
30,30,469633,174683,34416,20512,184030,55992,0,12
31,31,335431,99499,21650,16263,124553,73466,0,9
32,32,569891,94880,33895,56289,314455,56699,0,16
33,33,250819,71320,14187,27319,102478,29196,0,8
34,34,331684,87780,23134,43758,128760,45912,0,10
35,35,459152,113489,30177,58759,195053,61674,0,12
36,36,353041,72295,23810,34620,166965,53090,0,9
37,37,349051,106810,23123,48371,124392,46355,0,9
38,38,514527,233474,34024,31875,130319,84835,0,10
39,39,271711,87799,16259,25632,100078,41943,0,8
40,40,470529,168022,30744,34807,165200,71756,0,12

In [104]:
cols=list(df_o.columns[0:2])
cols.append((df_o.columns[-1]))
df_om=pd.melt(df_o, id_vars=cols, value_vars=df_o.columns[2:-1])

In [225]:
df_om.rename(columns={"variable":"komitet", "value":"Uzyskane_glosy"}, inplace=True)

In [226]:
df_om.head()

   Okreg  Głosy ważne  Mandaty komitet  Uzyskane_glosy
0      0       432436       12      KO          108191
1      1       283002        8      KO           90812
2      2       654455       14      KO          214629
3      3       459982       12      KO          142844
4      4       452330       13      KO          119526

In [239]:
votes_ix= list(df_om.columns).index("Uzyskane_glosy")

In [240]:
arr_o

array([[0, 432436, 12, 'KO', 108191],
       [1, 283002, 8, 'KO', 90812],
       [2, 654455, 14, 'KO', 214629],
       ...,
       [38, 514527, 10, 'MN', 0],
       [39, 271711, 8, 'MN', 0],
       [40, 470529, 12, 'MN', 0]], dtype=object)

In [241]:
arr_o=df_om.values

In [242]:
n=arr_o.shape[0]
m=arr_o.shape[1]
arr_col=[]

In [243]:
n

246

In [244]:
arr_col=[]
for j in range(1,22) :  
    if j==1:
                arr_dhont=np.ones((n,1))
                arr_dhont=arr_o[:,votes_ix]/j
                name="Mandat_"+str(j)
                arr_col.append(name)
    else:
                arr_temp=np.ones((n,1))
                arr_temp=arr_o[:,votes_ix]/j
                name="Mandat_"+str(j)
                arr_col.append(name)
                arr_dhont=np.column_stack((arr_dhont, arr_temp))

In [245]:
df_dhont=pd.DataFrame(arr_dhont, columns=arr_col)

In [246]:
df_odhont=pd.merge(df_om, df_dhont, left_index=True, right_index=True)

In [247]:
df_odhont.head()

,Okreg,Głosy ważne,Mandaty,komitet,Uzyskane_glosy,Mandat_1,Mandat_2,Mandat_3,Mandat_4,Mandat_5,...,Mandat_12,Mandat_13,Mandat_14,Mandat_15,Mandat_16,Mandat_17,Mandat_18,Mandat_19,Mandat_20,Mandat_21
0,0,432436,12,KO,108191,108191,54095.5,36063.7,27047.8,21638.2,...,9015.92,8322.38,7727.93,7212.73,6761.94,6364.18,6010.61,5694.26,5409.55,5151.95
1,1,283002,8,KO,90812,90812,45406,30270.7,22703,18162.4,...,7567.67,6985.54,6486.57,6054.13,5675.75,5341.88,5045.11,4779.58,4540.6,4324.38
2,2,654455,14,KO,214629,214629,107314,71543,53657.2,42925.8,...,17885.8,16509.9,15330.6,14308.6,13414.3,12625.2,11923.8,11296.3,10731.5,10220.4
3,3,459982,12,KO,142844,142844,71422,47614.7,35711,28568.8,...,11903.7,10988,10203.1,9522.93,8927.75,8402.59,7935.78,7518.11,7142.2,6802.1
4,4,452330,13,KO,119526,119526,59763,39842,29881.5,23905.2,...,9960.5,9194.31,8537.57,7968.4,7470.38,7030.94,6640.33,6290.84,5976.3,5691.71

In [248]:
df_odhont.columns[5:]

Index(['Mandat_1', 'Mandat_2', 'Mandat_3', 'Mandat_4', 'Mandat_5', 'Mandat_6',
       'Mandat_7', 'Mandat_8', 'Mandat_9', 'Mandat_10', 'Mandat_11',
       'Mandat_12', 'Mandat_13', 'Mandat_14', 'Mandat_15', 'Mandat_16',
       'Mandat_17', 'Mandat_18', 'Mandat_19', 'Mandat_20', 'Mandat_21'],
      dtype='object')

In [390]:
df_top=pd.melt(df_odhont, id_vars=df_odhont.columns[:4], value_vars=df_odhont.columns[5:])

In [391]:
df_top.rename(columns={"variable":"Mandat_rank","value":"Glosy_Dhont"}, inplace=True)

In [392]:
df_top.head()

   Okreg  Głosy ważne  Mandaty komitet Mandat_rank Glosy_Dhont
0      0       432436       12      KO    Mandat_1      108191
1      1       283002        8      KO    Mandat_1       90812
2      2       654455       14      KO    Mandat_1      214629
3      3       459982       12      KO    Mandat_1      142844
4      4       452330       13      KO    Mandat_1      119526

In [393]:
type(df_top["Glosy_Dhont"][0])

float

In [394]:
df_top.sort_values(by=["Okreg", "Glosy_Dhont"], ascending=False, inplace=True)
df_top.reset_index(inplace=True)

In [395]:
df_top.head(500)

     index  Okreg  Głosy ważne  Mandaty       komitet Mandat_rank Glosy_Dhont
0       40     40       470529       12            KO    Mandat_1      168022
1      163     40       470529       12           PiS    Mandat_1      165200
2      286     40       470529       12            KO    Mandat_2       84011
3      409     40       470529       12           PiS    Mandat_2       82600
4      204     40       470529       12           SLD    Mandat_1       71756
5      532     40       470529       12            KO    Mandat_3     56007.3
6      655     40       470529       12           PiS    Mandat_3     55066.7
7      778     40       470529       12            KO    Mandat_4     42005.5
8      901     40       470529       12           PiS    Mandat_4       41300
9      450     40       470529       12           SLD    Mandat_2       35878
10     122     40       470529       12           PSL    Mandat_1       34807
11    1024     40       470529       12            KO    Mandat_5     33604.4
12    1147     40       470529       12           PiS    Mandat_5       33040
13      81     40       470529       12  KONFEDERACJA    Mandat_1       30744
14    1270     40       470529       12            KO    Mandat_6     28003.7
15    1393     40       470529       12           PiS    Mandat_6     27533.3
16    1516     40       470529       12            KO    Mandat_7     24003.1
17     696     40       470529       12           SLD    Mandat_3     23918.7
18    1639     40       470529       12           PiS    Mandat_7       23600
19    1762     40       470529       12            KO    Mandat_8     21002.8
20    1885     40       470529       12           PiS    Mandat_8       20650
21    2008     40       470529       12            KO    Mandat_9     18669.1
22    2131     40       470529       12           PiS    Mandat_9     18355.6
23     942     40       470529       12           SLD    Mandat_4       17939
24     368     40       470529       12           PSL    Mandat_2     17403.5
25    2254     40       470529       12            KO   Mandat_10     16802.2
26    2377     40       470529       12           PiS   Mandat_10       16520
27     327     40       470529       12  KONFEDERACJA    Mandat_2       15372
28    2500     40       470529       12            KO   Mandat_11     15274.7
29    2623     40       470529       12           PiS   Mandat_11     15018.2
..     ...    ...          ...      ...           ...         ...         ...
470   5039     37       349051        9           PSL   Mandat_21     2303.38
471   5121     37       349051        9           SLD   Mandat_21     2207.38
472   2538     37       349051        9  KONFEDERACJA   Mandat_11     2102.09
473   2784     37       349051        9  KONFEDERACJA   Mandat_12     1926.92
474   3030     37       349051        9  KONFEDERACJA   Mandat_13     1778.69
475   3276     37       349051        9  KONFEDERACJA   Mandat_14     1651.64
476   3522     37       349051        9  KONFEDERACJA   Mandat_15     1541.53
477   3768     37       349051        9  KONFEDERACJA   Mandat_16     1445.19
478   4014     37       349051        9  KONFEDERACJA   Mandat_17     1360.18
479   4260     37       349051        9  KONFEDERACJA   Mandat_18     1284.61
480   4506     37       349051        9  KONFEDERACJA   Mandat_19        1217
481   4752     37       349051        9  KONFEDERACJA   Mandat_20     1156.15
482   4998     37       349051        9  KONFEDERACJA   Mandat_21      1101.1
483    242     37       349051        9            MN    Mandat_1           0
484    488     37       349051        9            MN    Mandat_2           0
485    734     37       349051        9            MN    Mandat_3           0
486    980     37       349051        9            MN    Mandat_4           0
487   1226     37       349051        9            MN    Mandat_5           0
488   1472     37       349051        9            MN    Mandat_6           0
489   1718     37       349051        9            MN    Mandat_7           0
490   1964     37       349051        9            MN    Mandat_8           0
491   2210     37       349051        9            MN    Mandat_9           0
492   2456     37       349051        9            MN   Mandat_10           0
493   2702     37       349051        9            MN   Mandat_11           0
494   2948     37       349051        9            MN   Mandat_12           0
495   3194     37       349051        9            MN   Mandat_13           0
496   3440     37       349051        9            MN   Mandat_14           0
497   3686     37       349051        9            MN   Mandat_15           0
498   3932     37       349051        9            MN   Mandat_16           0
499   4178     37       349051        9            MN   Mandat_17           0

[500 rows x 7 columns]

In [396]:
df_top["Ones"]=1

In [397]:
df_top["ranking"]=df_top.groupby("Okreg")["Ones"].cumsum()

In [398]:
df_top.head()

,index,Okreg,Głosy ważne,Mandaty,komitet,Mandat_rank,Glosy_Dhont,Ones,ranking
0,40,40,470529,12,KO,Mandat_1,168022,1,1
1,163,40,470529,12,PiS,Mandat_1,165200,1,2
2,286,40,470529,12,KO,Mandat_2,84011,1,3
3,409,40,470529,12,PiS,Mandat_2,82600,1,4
4,204,40,470529,12,SLD,Mandat_1,71756,1,5

In [399]:
df_top["in_mandaty"]=np.where(df_top.ranking<=(df_top.Mandaty+1),"In","Out")

In [400]:
df_top=df_top[(df_top.in_mandaty=="In")]

In [401]:
def add_zeros(x):
    if x<10:
        return "0"+str(x)
    else:
        return str(x)

In [402]:
#["ranking"]=df_top.ranking.apply(lambda x:add_zeros(x))

In [403]:
add_zeros(9)

'09'

In [404]:
df_top.head()

,index,Okreg,Głosy ważne,Mandaty,komitet,Mandat_rank,Glosy_Dhont,Ones,ranking,in_mandaty
0,40,40,470529,12,KO,Mandat_1,168022,1,1,In
1,163,40,470529,12,PiS,Mandat_1,165200,1,2,In
2,286,40,470529,12,KO,Mandat_2,84011,1,3,In
3,409,40,470529,12,PiS,Mandat_2,82600,1,4,In
4,204,40,470529,12,SLD,Mandat_1,71756,1,5,In

In [405]:
df_top["Mandat_rank"]=df_top.ranking.apply(lambda x: "Mandat_"+add_zeros(x))

In [406]:
df_top["Mandat_rank"]=np.where(df_top.ranking>df_top.Mandaty, "Runner-up", df_top.Mandat_rank)

In [407]:
df_top.head(50)

,index,Okreg,Głosy ważne,Mandaty,komitet,Mandat_rank,Glosy_Dhont,Ones,ranking,in_mandaty
0,40,40,470529,12,KO,Mandat_01,168022,1,1,In
1,163,40,470529,12,PiS,Mandat_02,165200,1,2,In
2,286,40,470529,12,KO,Mandat_03,84011,1,3,In
3,409,40,470529,12,PiS,Mandat_04,82600,1,4,In
4,204,40,470529,12,SLD,Mandat_05,71756,1,5,In
5,532,40,470529,12,KO,Mandat_06,56007.3,1,6,In
6,655,40,470529,12,PiS,Mandat_07,55066.7,1,7,In
7,778,40,470529,12,KO,Mandat_08,42005.5,1,8,In
8,901,40,470529,12,PiS,Mandat_09,41300,1,9,In
9,450,40,470529,12,SLD,Mandat_10,35878,1,10,In
10,122,40,470529,12,PSL,Mandat_11,34807,1,11,In
11,1024,40,470529,12,KO,Mandat_12,33604.4,1,12,In
12,1147,40,470529,12,PiS,Runner-up,33040,1,13,In
126,162,39,271711,8,PiS,Mandat_01,100078,1,1,In
127,39,39,271711,8,KO,Mandat_02,87799,1,2,In
128,408,39,271711,8,PiS,Mandat_03,50039,1,3,In
129,285,39,271711,8,KO,Mandat_04,43899.5,1,4,In
130,203,39,271711,8,SLD,Mandat_05,41943,1,5,In
131,654,39,271711,8,PiS,Mandat_06,33359.3,1,6,In
132,531,39,271711,8,KO,Mandat_07,29266.3,1,7,In
133,121,39,271711,8,PSL,Mandat_08,25632,1,8,In
134,900,39,271711,8,PiS,Runner-up,25019.5,1,9,In
252,38,38,514527,10,KO,Mandat_01,233474,1,1,In
253,161,38,514527,10,PiS,Mandat_02,130319,1,2,In
254,284,38,514527,10,KO,Mandat_03,116737,1,3,In
255,202,38,514527,10,SLD,Mandat_04,84835,1,4,In
256,530,38,514527,10,KO,Mandat_05,77824.7,1,5,In
257,407,38,514527,10,PiS,Mandat_06,65159.5,1,6,In
258,776,38,514527,10,KO,Mandat_07,58368.5,1,7,In
259,1022,38,514527,10,KO,Mandat_08,46694.8,1,8,In
260,653,38,514527,10,PiS,Mandat_09,43439.7,1,9,In
261,448,38,514527,10,SLD,Mandat_10,42417.5,1,10,In
262,1268,38,514527,10,KO,Runner-up,38912.3,1,11,In
378,160,37,349051,9,PiS,Mandat_01,124392,1,1,In
379,37,37,349051,9,KO,Mandat_02,106810,1,2,In
380,406,37,349051,9,PiS,Mandat_03,62196,1,3,In
381,283,37,349051,9,KO,Mandat_04,53405,1,4,In
382,119,37,349051,9,PSL,Mandat_05,48371,1,5,In
383,201,37,349051,9,SLD,Mandat_06,46355,1,6,In
384,652,37,349051,9,PiS,Mandat_07,41464,1,7,In
385,529,37,349051,9,KO,Mandat_08,35603.3,1,8,In
386,898,37,349051,9,PiS,Mandat_09,31098,1,9,In
387,775,37,349051,9,KO,Runner-up,26702.5,1,10,In
504,159,36,353041,9,PiS,Mandat_01,166965,1,1,In
505,405,36,353041,9,PiS,Mandat_02,83482.5,1,2,In
506,36,36,353041,9,KO,Mandat_03,72295,1,3,In
507,651,36,353041,9,PiS,Mandat_04,55655,1,4,In
508,200,36,353041,9,SLD,Mandat_05,53090,1,5,In
509,897,36,353041,9,PiS,Mandat_06,41741.2,1,6,In
510,282,36,353041,9,KO,Mandat_07,36147.5,1,7,In

In [415]:
mandaty_by_komitet=df_top.pivot(index="Okreg", columns="Mandat_rank", values="komitet")

In [436]:
mandaty_by_komitet=pd.merge(mandaty_by_komitet, glosy_by_okreg, left_on="Okreg", right_on="Okreg")

In [416]:
mandaty_by_komitet.head()

Mandat_rank,Mandat_01,Mandat_02,Mandat_03,Mandat_04,Mandat_05,Mandat_06,Mandat_07,Mandat_08,Mandat_09,Mandat_10,...,Mandat_12,Mandat_13,Mandat_14,Mandat_15,Mandat_16,Mandat_17,Mandat_18,Mandat_19,Mandat_20,Runner-up
Okreg,,,,,,,,,,,,,,,,,,,,,
0,PiS,KO,PiS,SLD,PiS,KO,PiS,PiS,KO,SLD,...,PiS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KO
1,PiS,KO,PiS,KO,PiS,SLD,KO,PiS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PiS
2,PiS,KO,PiS,KO,SLD,PiS,KO,PiS,KO,SLD,...,PiS,KO,PSL,NaN,NaN,NaN,NaN,NaN,NaN,PiS
3,PiS,KO,PiS,KO,SLD,PiS,KO,PiS,PSL,KO,...,PiS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KONFEDERACJA
4,PiS,KO,PiS,SLD,PiS,KO,PSL,PiS,KO,PiS,...,PiS,KO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KONFEDERACJA

In [431]:
glosy_by_okreg=df_top.groupby("Okreg")["Głosy ważne"].max().reset_index()

In [433]:
glosy_by_okreg

    Okreg  Głosy ważne
0       0       432436
1       1       283002
2       2       654455
3       3       459982
4       4       452330
5       5       565597
6       6       401318
7       7       437917
8       8       415540
9       9       346326
10     10       460239
11     11       316214
12     12       649287
13     13       370199
14     14       347088
15     15       370561
16     16       335009
17     17       452906
18     18      1381744
19     19       598727
20     20       406439
21     21       390581
22     22       588786
23     23       520578
24     24       528829
25     25       580722
26     26       389256
27     27       284517
28     28       340647
29     29       333836
30     30       469633
31     31       335431
32     32       569891
33     33       250819
34     34       331684
35     35       459152
36     36       353041
37     37       349051
38     38       514527
39     39       271711
40     40       470529

In [426]:
mandaty_by_glosy=df_top.pivot(index="Okreg", columns="Mandat_rank", values="Glosy_Dhont")

In [434]:
mandaty_by_glosy=pd.merge(mandaty_by_glosy, glosy_by_okreg, left_on="Okreg", right_on="Okreg")

In [435]:
mandaty_by_glosy.head()

,Okreg,Mandat_01,Mandat_02,Mandat_03,Mandat_04,Mandat_05,Mandat_06,Mandat_07,Mandat_08,Mandat_09,...,Mandat_13,Mandat_14,Mandat_15,Mandat_16,Mandat_17,Mandat_18,Mandat_19,Mandat_20,Runner-up,Głosy ważne
0,0,183364,108191,91682,71061,61121.3,54095.5,45841,36672.8,36063.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27047.8,432436
1,1,114728,90812,57364,45406,38242.7,34957,30270.7,28682,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22945.6,283002
2,2,226915,214629,113458,107314,100843,75638.3,71543,56728.8,53657.2,...,42925.8,42269,NaN,NaN,NaN,NaN,NaN,NaN,37819.2,654455
3,3,167550,142844,83775,71422,69763,55850,47614.7,41887.5,41497,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32406,459982
4,4,182648,119526,91324,67076,60882.7,59763,49225,45662,39842,...,29881.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28625,452330

In [437]:
mandaty_by_glosy.to_excel("mandaty_by_glosy.xlsx")

In [438]:
mandaty_by_komitet.to_excel("mandaty_by_komitet.xlsx")